<div class="col col-3">
      <%= render '/profiles/left' %>
</div>
<div class="col col-9">
    <div class="shadow bg-light my-5">
        <h5 class="card-header">Новые сервера л2</h5>
        <div class="card-body">
            <h5 class="card-title">Анонсы серверов Lineage 2</h5>
            <p class="card-text">
            Найди новый сервер благодаря нашим анонсам новых Lineage 2 серверов. 
            Мы стараемся максимально точно и в полном объеме собрать всю информацию об уже открытых и новых игровых проектах. 
            Для посетителей нашего анонса серверов Lineage 2 доступна возможность оставить отзыв и оценку серверу, 
            что поможет другим игрокам сделать правильный выбор.
            </p>          
        </div>
    </div> 
</div>

