<div class="col col-3">
  <%= render '/profiles/left' %>
</div>
<div class="col col-9">
  <div class="shadow bg-light my-5">
    <h5 class="card-header">Голосование</h5>
    <div class="card-body">
      <h5 class="pb-3">Настройки для голосования за ваш сервер</h5>
      <% current_user.servers.each do |server| %>
        <li class="list-group-item border-secondary">
          авпчварчв чва 
        </li>
        <br>
      <% end %>
    </div>
  </div>
</div>
