<div class="col col-3">
  <%= render 'left' %>
</div>
<div class="col col-9">
  <% content = content('advertising') %>
  <% if content.present? %>
    <div class="shadow bg-light my-5">
      <h5 class="card-header"><%= content.header %></h5>
      <div class="card-body">
        <h5 class="card-title"><%= content.subheader %></h5>
        <p class="card-text">
          <%= content.body.html_safe %>
        </p>
      </div>
    </div>
  <% end %>
</div>
