<h4 class="mb-5">
  Варианты размещения сервера
</h4>
<table class="table table-hover">
  <tbody>
    <tr class="p-3">
      <td style="width: 40%">Премиум статус:</td>
      <td style="width: 20%">
        <div class="font-weight-bold text-center text-white bg-secondary py-3">Отсутствует</div</td>
        <td style="width: 20%">
          <div class="font-weight-bold text-center text-white bg-primary py-3">Премиум</div>
        </td>
        <td style="width: 20%">
          <div class="font-weight-bold text-center text-white bg-danger py-3">Премиум ТОП</div>
        </td>
      </tr>
      <tr>
        <td>Моментальная публикация</td>
        <td class="text-center text-danger" style="font-size:1.3rem">✖</td>
        <td class="text-center text-success" style="font-size:2.0rem">✔</td>
        <td class="text-center text-success" style="font-size:2.0rem">✔</td>
      </tr>
      <tr>
        <td>Выделение цветом</td>
        <td class="text-center text-danger" style="font-size:1.3rem">✖</td>
        <td class="text-center text-success" style="font-size:2.0rem">✔</td>
        <td class="text-center text-success" style="font-size:2.0rem">✔</td>
      </tr>
      <tr>
        <td>Расположен в списке премиум серверов</td>
        <td class="text-center text-danger" style="font-size:1.3rem">✖</td>
        <td class="text-center text-success" style="font-size:2.0rem">✔</td>
        <td class="text-center text-success" style="font-size:2.0rem">✔</td>
      </tr>
      <tr>
        <td>Стартовый бонус рейтинга</td>
        <td class="text-center text-danger" style="font-size:1.3rem">✖</td>
        <td class="text-center text-success" style="font-size:2.0rem">✔</td>
        <td class="text-center text-success" style="font-size:2.0rem">✔</td>
      </tr>
      <tr>
        <td>Самые верхние позиции</td>
        <td class="text-center text-danger" style="font-size:1.3rem">✖</td>
        <td class="text-center text-danger" style="font-size:1.3rem">✖</td>
        <td class="text-center text-success" style="font-size:2.0rem">✔</td>
      </tr>
      <tr>
        <td>Увеличенное название</td>
        <td class="text-center text-danger" style="font-size:1.3rem">✖</td>
        <td class="text-center text-danger" style="font-size:1.3rem">✖</td>
        <td class="text-center text-success" style="font-size:2.0rem">✔</td>
      </tr>
      <tr>
        <td>Баннер 240 x 120 пикселей</td>
        <td class="text-center text-danger" style="font-size:1.3rem">✖</td>
        <td class="text-center text-danger" style="font-size:1.3rem">✖</td>
        <td class="text-center text-success" style="font-size:2.0rem">✔</td>
      </tr>
      <tr>
        <td>Стоимость</td>
        <td class="text-center" style="font-size:1.3rem">Бесплатно</td>
        <td class="text-center" style="font-size:1.3rem">20 LTC</td>
        <td class="text-center" style="font-size:1.3rem">50 LTC</td>
      </tr>
    </tbody>
  </table>
