<div class="col col-3">
  <%= render '/profiles/left' %>
</div>
<div class="col col-9">
  <div class="shadow bg-light my-5">
    <h5 class="card-header">Редактировать сервер</h5>
    <div class="card-body">
               <%= render 'form' %>
    </div>
  </div>
</div>

