<div class="row justify-content-md-center">
  <%- if devise_mapping.omniauthable? %>
    <a class="navbar-brand" href="/users/auth/github">
      <img src="/images/icon/github.svg" width="38" height="38">
    </a>
    <a class="navbar-brand" href="/users/auth/vkontakte">
      <img src="/images/icon/vkontakte.svg" width="38" height="38">
    </a>
    <a class="navbar-brand" href="/users/auth/google_oauth2">
      <img src="/images/icon/google.svg" width="38" height="38">
    </a>
    <a class="navbar-brand" href="/users/auth/facebook">
      <img src="/images/icon/facebook.svg" width="38" height="38">
    </a>
  <% end %>
</div>
