<p> 
 Адрес, <%= @email %> на который Вы получили это письмо,
  будет использоваться для восстановления пароля
   и устранения неполадок в Вашем новом аккаунте. 

   Для завершения регистрации пройдите по ссылке:

<p><%= link_to 'Подтвердить мой акаунт', confirmation_url(@resource, confirmation_token: @token) %></p>
