<div class="shadow bg-light my-5">
  <h5 class="card-header">Новые сервера л2</h5>
  <div class="card-body">
    <h5 class="card-title">Анонсы серверов Lineage 2</h5>
    <p class="card-text">
      Найди новый сервер  
    </p>
  </div>
</div>
   
