<div class="shadow bg-light my-5">
  <h5 class="card-header">Новые сервера л2</h5>
  <div class="card-body p-0">
    <br>
    <div class="text-center">
      Найди новый сервер  
    </div>
    <ul class="list-unstyled">
      <li class="media pt-1">
        <a class="m-auto" href="#">
          <img src="/images/servers/1_240x400.jpg" class="rounded-lg" width="240", height="400">
        </a>
      </li>
      <li class="media pt-1">
        <a class="m-auto" href="#">
          <img src="/images/servers/baner_240x120.jpg" class="rounded-lg" width="240", height=120">
        </a>
      </li>
      <li class="media pt-1">
        <a class="m-auto" href="#">
          <img src="/images/servers/baner_240x120.jpg" class="rounded-lg" width="240", height="120">
        </a>
      </li>
    </ul>
  </div>
</div>
