<div class="shadow bg-light my-5">
  <h5 class="card-header">Новые сервера л2</h5>
  <div class="card-body p-0">
    <br>
    <div class="text-center">
      Найди новый сервер  
    </div>
    <form action="/servers/search" method="GET">
      <select  class="form-control" type="text" name="serverversion">
        <option></option>
        <% (Serverversion.pluck('name').uniq).each do |name| %>
          <option><%= name %></option>
        <% end %>
      </select>
      <select  class="form-control" type="text" name="rate">
        <% all_rates = Server.pluck('rate').uniq %>
        <option></option>
        <% all_rates.each do |rate| %>
          <option><%= rate %></option>
        <% end %>
      </select>
      <%# <input  class="form-control" type="text" name="rate"> %>
      <input class="btn" type="submit">
    </form>
    <ul class="list-unstyled">
      <li class="media pt-1">
        <a class="m-auto" href="#">
          <img src="/images/servers/1_240x400.jpg" class="rounded-lg" width="240", height="400">
        </a>
      </li>
      <li class="media pt-1">
        <a class="m-auto" href="#">
          <img src="/images/servers/baner_240x120.jpg" class="rounded-lg" width="240", height=120">
        </a>
      </li>
      <li class="media pt-1">
        <a class="m-auto" href="#">
          <img src="/images/servers/baner_240x120.jpg" class="rounded-lg" width="240", height="120">
        </a>
      </li>
    </ul>
    <%= link_to 'AAAAAAAAAA', search_servers_path(serverversion: 'C4'), class: "btn btn-success", method: :get  %>
  </div>
</div>
